In [1]:
자료목록 = ['기획', '데이터', '개발', '아트']
for 경로 in 자료목록:
    print(경로 + '/data')

기획/data
데이터/data
개발/data
아트/data

데이터폴더 Path :  /Users/Koon/Documents/bigpy/data

In [3]:
import pandas as pd

In [4]:
경로='/Users/Koon/Documents/bigpy/data/pydata-book/movielens/users.dat'

In [11]:
사용자=pd.read_csv(경로, names=['user_id', '성별', '나이', '직업', '우편번호'], sep='::', encoding='latin1')

/Users/Koon/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators; you can avoid this warning by specifying engine='python'.
  if __name__ == '__main__':

In [12]:
사용자[:5]

   user_id 성별  나이  직업   우편번호
0        1  F   1  10  48067
1        2  M  56  16  70072
2        3  M  25  15  55117
3        4  M  45   7  02460
4        5  M  25  20  55455

In [18]:
경로2='/Users/Koon/Documents/bigpy/data/geeks.csv'

In [19]:
geeks=pd.read_csv(경로2, sep=',', encoding='utf-8')

In [20]:
geeks[:5]

       이름                  직업     국적            트위터         생년월일
0     이성주   컴퓨터 프로그래머/데이터 과학자   대한민국   @LeeSeongjoo   1982-12-27
1  Rossum           컴퓨터 프로그래머   네덜란드    @gvanrossum   1956-01-31
2  Turing              컴퓨터과학자     영국            NaN   1912-06-23

1. 데이터프레임을 변수 '식당'에 연결
2. 'menu'열을 변수 메뉴에 연결
3. 식당 데이터프레임을 처음 다섯 개와 마지막 다섯 개 자료 출력

In [21]:
경로3='/Users/Koon/Documents/bigpy/data/food_order.xlsx'

In [22]:
식당=pd.read_excel(경로3)

In [23]:
메뉴=식당['menu']

In [28]:
식당[:10]

,date,dine_type,corner,menu,is_sold_out,use_count,pred_count,additional,good,ok,bad,diff_use_pred,year,month,day,wday
0,2013-08-06,dinner,grill & fry,훈제연어벤또(200개),F,213,0,0,0,0,0,-213,2013,8,6,1
1,2013-08-06,dinner,rice & soup 1,뚝배기 우거지 갈비탕,F,261,0,0,0,0,0,-261,2013,8,6,1
2,2013-08-06,lunch,noodle bar,판모밀정식,F,267,0,0,0,0,0,-267,2013,8,6,1
3,2013-08-06,breakfast,rice & soup 1,설렁탕정식,F,1,0,0,0,0,0,-1,2013,8,6,1
4,2013-08-06,lunch,rice & soup 1,A. 부대찌개정식,F,376,0,0,0,0,0,-376,2013,8,6,1
5,2013-08-12,dinner,noodle bar,차슈라멘,F,179,0,0,0,0,0,-179,2013,8,12,0
6,2013-08-12,breakfast,rice & soup 1,뚝배기순대국,F,26,0,0,0,0,0,-26,2013,8,12,0
7,2013-08-12,lunch,rice & soup 1,A:누룽지장각백숙,F,504,0,0,0,0,0,-504,2013,8,12,0
8,2013-08-12,lunch,noodle bar,유니자장면,F,167,0,0,0,0,0,-167,2013,8,12,0
9,2013-08-12,dinner,rice & soup 1,김치날치알밥,F,216,0,0,0,0,0,-216,2013,8,12,0

In [25]:
type(메뉴)

pandas.core.series.Series