In [15]:
import pandas as pd
import os

1. 경로패스중 폴더 경로만 미리 정의하는 것도 방법
2. /Users/Koon/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators; you can avoid this warning by specifying engine='python'. <-- 이런 오류는 __engine='python'__ 를 추가하여 제거
3. os.path.join 을 활용하면 경로구분자를 잘못 사용하게 되는 것을 방지할 수 있음

In [19]:
os.path.exists(os.path.join('data', 'pydata-book', 'movielens', 'users.dat'))

True

In [9]:
users = pd.read_csv('/Users/Koon/Documents/bigpy/data/pydata-book/movielens/users.dat', 
                        sep='::', 
                        names=['user_id', '성별', '나이', '직업', '지역'], 
                        encoding='latin1', 
                        engine='python'
                   )

In [10]:
ratings = pd.read_csv('/Users/Koon/Documents/bigpy/data/pydata-book/movielens/ratings.dat', 
                        sep='::', 
                        names=['user_id', 'movie_id', '평점', '타임스탬프'], 
                        encoding='latin1',
                        engine='python'
                     )

In [11]:
movies = pd.read_csv('/Users/Koon/Documents/bigpy/data/pydata-book/movielens/movies.dat', 
                        sep='::', 
                        names=['movie_id', '제목', '장르'], 
                        encoding='latin1',
                        engine='python'
                    )

In [12]:
users[:5]

   user_id 성별  나이  직업     지역
0        1  F   1  10  48067
1        2  M  56  16  70072
2        3  M  25  15  55117
3        4  M  45   7  02460
4        5  M  25  20  55455

In [13]:
ratings[:5]

   user_id  movie_id  평점      타임스탬프
0        1      1193   5  978300760
1        1       661   3  978302109
2        1       914   3  978301968
3        1      3408   4  978300275
4        1      2355   5  978824291

In [14]:
movies[:5]

   movie_id                                  제목                            장르
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

In [21]:
data = pd.merge(pd.merge(ratings, users), movies)

In [22]:
data[:5]

,user_id,movie_id,평점,타임스탬프,성별,나이,직업,지역,제목,장르
0,1,1193,5,978300760,F,1,10,48067,One Flew Over the Cuckoo's Nest (1975),Drama
1,2,1193,5,978298413,M,56,16,70072,One Flew Over the Cuckoo's Nest (1975),Drama
2,12,1193,4,978220179,M,25,12,32793,One Flew Over the Cuckoo's Nest (1975),Drama
3,15,1193,4,978199279,M,25,7,22903,One Flew Over the Cuckoo's Nest (1975),Drama
4,17,1193,5,978158471,M,50,1,95350,One Flew Over the Cuckoo's Nest (1975),Drama

### 성별에 따른 평균 평점 차이

In [24]:
성별평균평점=data.pivot_table('평점', aggfunc='mean', index='제목', columns='성별')

In [26]:
성별평균평점[:4]

성별                                F         M
제목
$1,000,000 Duck (1971)     3.375000  2.761905
'Night Mother (1986)       3.388889  3.352941
'Til There Was You (1997)  2.675676  2.733333
'burbs, The (1989)         2.793478  2.962085

평점이 250건 이상인 영화면 추리기

제목별분류=data.groupby('제목')

각 분류의 크기 구하기

In [29]:
평점개수=제목별분류.size()

In [30]:
평점개수[:5]

제목
$1,000,000 Duck (1971)            37
'Night Mother (1986)              70
'Til There Was You (1997)         52
'burbs, The (1989)               303
...And Justice for All (1979)    199
dtype: int64

평점 개수가 250보다 큰지 여부 알아내기

In [32]:
평점기준충족여부=평점개수 > 250

In [33]:
평점기준충족여부[:5]

제목
$1,000,000 Duck (1971)           False
'Night Mother (1986)             False
'Til There Was You (1997)        False
'burbs, The (1989)                True
...And Justice for All (1979)    False
dtype: bool

평점기준을 충족하는 영화들만 선택하기

In [34]:
성별평균평점=성별평균평점[평점기준충족여부]

In [35]:
성별평균평점[:5]

성별                                        F         M
제목
'burbs, The (1989)                 2.793478  2.962085
10 Things I Hate About You (1999)  3.646552  3.311966
101 Dalmatians (1961)              3.791444  3.500000
101 Dalmatians (1996)              3.240000  2.911215
12 Angry Men (1957)                4.184397  4.328421

여성 평점에 따라 정렬하기

In [47]:
성별평균평점.sort_values(by='F', ascending=False)[:5]
## or 성별평균평점.sort_values(by='F', ascending=False)[:5:-1]

성별                                                         F         M
제목
Close Shave, A (1995)                               4.644444  4.473795
Wrong Trousers, The (1993)                          4.588235  4.478261
Sunset Blvd. (a.k.a. Sunset Boulevard) (1950)       4.572650  4.464589
Wallace & Gromit: The Best of Aardman Animation...  4.563107  4.385075
Schindler's List (1993)                             4.562602  4.491415

남녀간 호불호가 갈리는 영화는?

In [50]:
성별평균평점['차이값'] = 성별평균평점['F'] - 성별평균평점['M']

In [51]:
성별평균평점[:5]

성별                                        F         M       차이값
제목
'burbs, The (1989)                 2.793478  2.962085 -0.168607
10 Things I Hate About You (1999)  3.646552  3.311966  0.334586
101 Dalmatians (1961)              3.791444  3.500000  0.291444
101 Dalmatians (1996)              3.240000  2.911215  0.328785
12 Angry Men (1957)                4.184397  4.328421 -0.144024

In [52]:
성별평균평점 = 성별평균평점.sort_values(by='차이값')
성별평균평점[:5]

성별                                             F         M       차이값
제목
Good, The Bad and The Ugly, The (1966)  3.494949  4.221300 -0.726351
Kentucky Fried Movie, The (1977)        2.878788  3.555147 -0.676359
Dumb & Dumber (1994)                    2.697987  3.336595 -0.638608
Longest Day, The (1962)                 3.411765  4.031447 -0.619682
Cable Guy, The (1996)                   2.250000  2.863787 -0.613787

#### 연습
남자들은 별로라고 생각하지만 여성들은 선호하는 영화3개는 무엇일까요?

In [62]:
성별평균평점=성별평균평점.sort_values(by='차이값', ascending=True)
성별평균평점[:3]

성별                                             F         M       차이값
제목
Good, The Bad and The Ugly, The (1966)  3.494949  4.221300 -0.726351
Kentucky Fried Movie, The (1977)        2.878788  3.555147 -0.676359
Dumb & Dumber (1994)                    2.697987  3.336595 -0.638608

#### 메모리 관리 - 데이터 삭제

In [37]:
data.info()#get memory usage info

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000209 entries, 0 to 1000208
Data columns (total 10 columns):
user_id     1000209 non-null int64
movie_id    1000209 non-null int64
평점          1000209 non-null int64
타임스탬프       1000209 non-null int64
성별          1000209 non-null object
나이          1000209 non-null int64
직업          1000209 non-null int64
지역          1000209 non-null object
제목          1000209 non-null object
장르          1000209 non-null object
dtypes: int64(6), object(4)
memory usage: 83.9+ MB

In [38]:
%who

data	 movies	 os	 pd	 ratings	 users	 사용자	 성별평균평점	 영화
제목별분류	 평점	 평점개수	 평점기준충족여부

In [40]:
del 영화

In [41]:
영화[:5]

NameError: name '영화' is not defined