In [31]:
import pandas as pd
import os
import numpy as np

%matplotlib inline

In [2]:
nc15=pd.read_excel('./data/NC Dinos 2015.xlsx')

데이터프레임의 열은 시리즈입니다.

In [4]:
선수명=nc15['선수명']
선수명

0     테임즈
1     나성범
2     박민우
3     이호준
4     김종호
5     조영훈
6     손시헌
7     이종욱
8     모창민
9     지석훈
10    용덕한
11    최재원
12    박정준
13    김태군
14    조평호
15    이창섭
16    김준완
17    강구성
18    강민국
19    김태진
Name: 선수명, dtype: object

In [5]:
pd.Series(['테임즈', '나성범', '박민우', '이호준'])

0    테임즈
1    나성범
2    박민우
3    이호준
dtype: object

In [7]:
선수명.index

RangeIndex(start=0, stop=20, step=1)

In [8]:
선수명.values

array(['테임즈', '나성범', '박민우', '이호준', '김종호', '조영훈', '손시헌', '이종욱', '모창민',
       '지석훈', '용덕한', '최재원', '박정준', '김태군', '조평호', '이창섭', '김준완', '강구성',
       '강민국', '김태진'], dtype=object)

In [9]:
안타=nc15['안타']
안타

0     180
1     184
2     158
3     132
4     125
5      35
6     108
7     118
8      62
9     111
10     12
11     21
12      8
13    107
14      8
15      0
16     10
17      1
18      0
19      0
Name: 안타, dtype: int64

In [10]:
안타=안타[:3]

In [14]:
안타=pd.Series([180, 184, 158], index=['테임즈', '나성범', '박민우'])

In [15]:
안타['이호준']=132

In [16]:
안타

테임즈    180
나성범    184
박민우    158
이호준    132
dtype: int64

원하는 순서로 만들기

In [17]:
안타['테임즈']

180

In [20]:
안타[['테임즈', '박민우']]

테임즈    180
박민우    158
dtype: int64

#### 연습
이호준, 박민우, 나성범, 테임즈 순으로 안타 기록이 출력되도록 해 보겠습니다.

In [21]:
안타[['이호준', '박민우', '나성범', '테임즈']]

이호준    132
박민우    158
나성범    184
테임즈    180
dtype: int64

#### 연습
이성주, 김성주, 박성주의 영문 성은 각각 lee, kim, park 이다. 영문 성을 색인으로 하고, 한글이름값으로 하는 시리즈를 생성해 보겠습니다.

In [22]:
이름=pd.Series(['이성주', '김성주', '박성주'], index=['lee', 'kim', 'park'])

In [23]:
이름

lee     이성주
kim     김성주
park    박성주
dtype: object

In [24]:
이름[['lee', 'park']]

lee     이성주
park    박성주
dtype: object

In [27]:
기준충족여부=안타 > 150

In [28]:
안타[기준충족여부]

테임즈    180
나성범    184
박민우    158
dtype: int64

사칙연산은 각각의 값에 대해 수행됨

In [29]:
안타*1.1

테임즈    198.0
나성범    202.4
박민우    173.8
이호준    145.2
dtype: float64

파이썬 기본 자료구조는 안 됩니다.

In [30]:
[1, 2, 3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

좀더 고급의 기능은 numpy scipy에서 가져와서 pandas 자료구조에 적용할 수 있습니다.

In [32]:
np.exp(안타)

테임즈    1.489384e+78
나성범    8.131762e+79
박민우    4.154590e+68
이호준    2.122617e+57
dtype: float64

시리즈를 직접 생성하는 또 다른 방식

In [34]:
데이터={'서울':1500, '대구':250, '부산':500, '대전':300}

In [35]:
데이터

{'대구': 250, '대전': 300, '부산': 500, '서울': 1500}

In [36]:
type(데이터)

dict

In [37]:
pd.Series(데이터)

대구     250
대전     300
부산     500
서울    1500
dtype: int64

#### 연습
이성주, 김성주, 박성주의 회사 계정은 각각 lee, kim, park이다. 계정 정보를 값으로 갖는 시리즈를 사전형 데이터로부터 생성해 보겠습니다.

In [44]:
acc=pd.Series({'이성주':'lee', '김성주':'kim', '박성주':'park'})
acc

김성주     kim
박성주    park
이성주     lee
dtype: object

In [45]:
acc['장성주']='jang'

In [46]:
acc

김성주     kim
박성주    park
이성주     lee
장성주    jang
dtype: object

In [47]:
nc15

,선수명,팀명,경기,타석,타수,안타,홈런,득점,타점,볼넷,삼진,도루,BABIP,타율,출루율,장타율,OPS,wOBA,WAR
0,테임즈,NC,142,595,472,180,47,130,140,103,91,40,0.390,0.381,0.497,0.790,1.287,0.520,11.73
1,나성범,NC,144,622,564,184,28,112,135,33,127,23,0.374,0.326,0.373,0.553,0.926,0.390,4.46
2,박민우,NC,141,617,520,158,3,111,47,73,108,46,0.373,0.304,0.399,0.404,0.803,0.364,3.52
3,이호준,NC,131,518,449,132,24,48,110,61,102,0,0.332,0.294,0.381,0.510,0.891,0.381,2.19
4,김종호,NC,133,486,424,125,4,90,36,44,65,41,0.338,0.295,0.364,0.394,0.758,0.340,1.03
5,조영훈,NC,103,146,124,35,8,20,35,19,36,3,0.329,0.282,0.372,0.540,0.912,0.389,1.00
6,손시헌,NC,140,508,440,108,13,56,58,36,66,3,0.260,0.245,0.319,0.398,0.717,0.316,0.85
7,이종욱,NC,125,504,440,118,5,63,52,54,78,17,0.315,0.268,0.351,0.368,0.719,0.322,0.84
8,모창민,NC,103,239,214,62,6,23,35,18,52,5,0.352,0.290,0.340,0.439,0.779,0.340,0.76
9,지석훈,NC,137,466,415,111,11,53,46,23,85,4,0.311,0.267,0.328,0.383,0.711,0.317,0.51
10,용덕한,NC,50,49,42,12,0,4,5,5,8,2,0.353,0.286,0.375,0.310,0.685,0.326,0.44
11,최재원,NC,114,102,85,21,2,31,13,10,29,14,0.352,0.247,0.366,0.412,0.778,0.350,0.30
12,박정준,NC,19,24,21,8,0,2,2,0,5,0,0.500,0.381,0.458,0.476,0.934,0.417,0.25
13,김태군,NC,144,474,421,107,6,45,52,25,77,1,0.293,0.254,0.307,0.354,0.661,0.294,0.25
14,조평호,NC,22,22,22,8,1,4,3,0,6,0,0.467,0.364,0.364,0.591,0.955,0.401,0.18
15,이창섭,NC,15,8,5,0,0,0,0,3,3,0,0.000,0.000,0.375,0.000,0.375,0.286,-0.01
16,김준완,NC,30,54,44,10,0,12,2,10,10,2,0.294,0.227,0.370,0.227,0.597,0.308,-0.04
17,강구성,NC,4,5,5,1,0,0,0,0,0,0,0.200,0.200,0.200,0.400,0.600,0.242,-0.04
18,강민국,NC,1,2,2,0,0,0,0,0,1,0,0.000,0.000,0.000,0.000,0.000,0.000,-0.06
19,김태진,NC,1,3,3,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0.000,0.000,-0.09

In [48]:
nc15=nc15[['선수명', '팀명', '경기', '타수', '안타', '홈런']]

In [49]:
nc15

    선수명  팀명   경기   타수   안타  홈런
0   테임즈  NC  142  472  180  47
1   나성범  NC  144  564  184  28
2   박민우  NC  141  520  158   3
3   이호준  NC  131  449  132  24
4   김종호  NC  133  424  125   4
5   조영훈  NC  103  124   35   8
6   손시헌  NC  140  440  108  13
7   이종욱  NC  125  440  118   5
8   모창민  NC  103  214   62   6
9   지석훈  NC  137  415  111  11
10  용덕한  NC   50   42   12   0
11  최재원  NC  114   85   21   2
12  박정준  NC   19   21    8   0
13  김태군  NC  144  421  107   6
14  조평호  NC   22   22    8   1
15  이창섭  NC   15    5    0   0
16  김준완  NC   30   44   10   0
17  강구성  NC    4    5    1   0
18  강민국  NC    1    2    0   0
19  김태진  NC    1    3    0   0

In [53]:
자료={'선수명':['테임즈', '나성범', '박민우'], 
     '안타':[180, 184, 158],
     '홈런':[47, 28, 3]
    }

In [56]:
pd.DataFrame(자료, columns=['선수명', '홈런', '안타', '타수']) #'NaN : 값 없음

   선수명  홈런   안타   타수
0  테임즈  47  180  NaN
1  나성범  28  184  NaN
2  박민우   3  158  NaN

In [57]:
pd.DataFrame(자료, index=['일번', '이번', '삼번'])

    선수명   안타  홈런
일번  테임즈  180  47
이번  나성범  184  28
삼번  박민우  158   3

In [58]:
pd.DataFrame(자료).set_index('선수명')

      안타  홈런
선수명
테임즈  180  47
나성범  184  28
박민우  158   3

In [59]:
기록=pd.DataFrame(자료)
기록

   선수명   안타  홈런
0  테임즈  180  47
1  나성범  184  28
2  박민우  158   3

In [60]:
기록['선수명']=='테임즈'

0     True
1    False
2    False
Name: 선수명, dtype: bool

In [62]:
기록[기록['선수명'] == '테임즈']

   선수명   안타  홈런
0  테임즈  180  47

In [64]:
기록.ix('테임즈')

In [65]:
기록['연도']=2015

In [66]:
기록

   선수명   안타  홈런    연도
0  테임즈  180  47  2015
1  나성범  184  28  2015
2  박민우  158   3  2015

#### 연습
회사의 각 임직원은 이름, 이메일, 구내번호 정보를 갖습니다. 이런 정보를 표현하는 데이터프레임을 생성합니다.데이터프래임은 3명 이상의 정보를 포함하도록 합니다. 
1. 임직원 두 명의 정보만 선택해 출력합니다.
2. 이름과 구내정보 정보만 선택해 출력합니다.
3. 근속연수가 5년 이상인 임직원의 정보만 선택해 출력합니다.
4. 표의 열이 이름, 구내번호, 이메일, 근속연수 순으로 출력되도록 합니다.
5. 어떤 2명의 임직원의 트위터 계정 정보가 등록되었을 때 해당 계정 정보를 표에 추가합니다.

In [124]:
임직원=({'이름':['윤군', '이군', '김군'],
              '이메일':['koon74@naver.com', 'ko@naver.com', 'lk@naver.com'], 
              '내선번호':['1632', '1643', '1644'],
              '근속연수':[13, 15, 20]
             }
            )

In [125]:
임직원df=pd.DataFrame(임직원, index=['youn', 'lee', 'kim'], columns=['이름', '내선번호', '이메일', '근속연수'])
임직원df

      이름  내선번호               이메일  근속연수
youn  윤군  1632  koon74@naver.com    13
lee   이군  1643      ko@naver.com    15
kim   김군  1644      lk@naver.com    20

In [133]:
임직원df['트위터']=pd.Series({'윤군':'@yk', '이군':'@le'})

In [140]:
임직원dfs=임직원df[임직원df.근속연수 > 5]

In [141]:
임직원dfs

    내선번호               이메일  근속연수  트위터
이름
윤군  1632  koon74@naver.com    13  @yk
이군  1643      ko@naver.com    15  @le
김군  1644      lk@naver.com    20  NaN