In [3]:
import pandas as pd
from pandas import Series, DataFrame

In [2]:
시리즈=Series(['c', 'a', 'd', 'a', 'a', 'b', 'b', 'c','c'])

빈도집계:시리즈에 대해서만 수행됩니다.

In [7]:
시리즈.value_counts()

a    3
c    3
b    2
d    1
dtype: int64

In [6]:
시리즈.unique()

array(['c', 'a', 'd', 'b'], dtype=object)

In [8]:
시리즈.drop_duplicates()

0    c
1    a
2    d
5    b
dtype: object

어떤 값이 포함되어 있는지 확인 여부

In [11]:
시리즈.isin(['b', 'c'])

0     True
1    False
2    False
3    False
4    False
5     True
6     True
7     True
8     True
dtype: bool

In [12]:
data = DataFrame({'qu1':[1, 3, 4, 3, 4],
                 'qu2':[2, 3, 1, 2, 3],
                 'qu3':[1, 5, 2, 4, 4]})

In [13]:
data

   qu1  qu2  qu3
0    1    2    1
1    3    3    5
2    4    1    2
3    3    2    4
4    4    3    4

In [16]:
result = data.apply(pd.value_counts).fillna(0)
# DataFrame 에는 Value_counts는 사용할 수 없으나 Apply를 통해 함수를 넘기면 가능함

In [15]:
result

   qu1  qu2  qu3
1  1.0  1.0  1.0
2  0.0  2.0  1.0
3  2.0  2.0  0.0
4  2.0  0.0  2.0
5  0.0  0.0  1.0

In [4]:
from NC import importNC

### 누락데이터 처리

In [5]:
프레임목록=importNC('./data/')

In [6]:
안타목록 = []

for 프레임 in 프레임목록:
    안타시리즈=프레임['안타']
    안타목록.append(안타시리즈)

시즌안타=pd.concat(안타목록, axis=1)

In [7]:
# 열이름 변경
시즌안타.columns=[2013, 2014, 2015]
시즌안타

       2013   2014   2015
강구성     0.0    NaN    1.0
강민국     NaN    0.0    0.0
강진성     1.0    NaN    NaN
권희동     NaN   63.0    NaN
김동건     2.0    NaN    NaN
김성욱     1.0    4.0    NaN
김종찬     1.0    NaN    NaN
김종호   129.0    NaN  125.0
김준완     NaN    2.0   10.0
김태군     NaN    NaN  107.0
김태우     NaN    1.0    NaN
김태진     NaN    NaN    0.0
나성범    98.0  157.0  184.0
노진혁     NaN    3.0    NaN
마낙길     9.0    0.0    NaN
모창민   109.0  110.0   62.0
박명환*    NaN    0.0    NaN
박민우    11.0  124.0  158.0
박정준    41.0    NaN    8.0
손시헌     NaN   90.0  108.0
용덕한     NaN    NaN   12.0
이상호    31.0    NaN    NaN
이승호     0.0    NaN    NaN
이종욱     NaN  126.0  118.0
이창섭     0.0    NaN    0.0
이현곤    38.0    NaN    NaN
이호준   123.0  115.0  132.0
조영훈   107.0   29.0   35.0
조평호    21.0    0.0    8.0
지석훈    68.0   58.0  111.0
차화준    24.0    NaN    NaN
최재원     NaN    0.0   21.0
테임즈     NaN  152.0  180.0
허준      NaN    5.0    NaN

모든 시즌에 출전한 선수들의 기록만 선택
=> NaN이 하나라도 포함된 기록은 제외

__thresh=2__ 를 통해 최소 2개이상 값을 가지는 Row를 선택

In [27]:
시즌안타.dropna(thresh=2)

      2013   2014   2015
강구성    0.0    NaN    1.0
강민국    NaN    0.0    0.0
김성욱    1.0    4.0    NaN
김종호  129.0    NaN  125.0
김준완    NaN    2.0   10.0
나성범   98.0  157.0  184.0
마낙길    9.0    0.0    NaN
모창민  109.0  110.0   62.0
박민우   11.0  124.0  158.0
박정준   41.0    NaN    8.0
손시헌    NaN   90.0  108.0
이종욱    NaN  126.0  118.0
이창섭    0.0    NaN    0.0
이호준  123.0  115.0  132.0
조영훈  107.0   29.0   35.0
조평호   21.0    0.0    8.0
지석훈   68.0   58.0  111.0
최재원    NaN    0.0   21.0
테임즈    NaN  152.0  180.0

In [32]:
DataFrame(시즌안타.fillna('-') + 시즌안타.fillna('-'))[:3]
# 문자는 문자로 더해지고 숫자는 숫자로 더해짐

    2013 2014 2015
강구성    0   --    2
강민국   --    0    0
강진성    2   --   --

### 계층 색인

In [33]:
NC시즌 = pd.concat(프레임목록)

In [36]:
NC시즌 = NC시즌.set_index(['시즌'], append=True)
NC시즌 = NC시즌.swaplevel(0, 1)
NC시즌

           팀명   경기   타석   타수   안타  홈런   득점   타점   볼넷   삼진  도루  BABIP     타율  \
시즌   선수명
2013 모창민   NC  108  436  395  109  12   57   51   37   68  16  0.307  0.276
     이호준   NC  126  508  442  123  20   46   87   60  109   2  0.324  0.278
     김종호   NC  128  546  465  129   0   72   22   57  100  50  0.352  0.277
     나성범   NC  104  458  404   98  14   55   64   33   95  12  0.279  0.243
     조영훈   NC  120  426  380  107   6   38   39   39   56   4  0.316  0.282
     이현곤   NC   91  161  139   38   0   10    9   16   14   2  0.304  0.273
     이상호   NC  102  138  125   31   0   26   13    9   21  24  0.298  0.248
     강진성   NC    3    3    2    1   0    1    0    1    0   0  0.500  0.500
     조평호   NC   26   86   79   21   2   12    7    6   24   1  0.358  0.266
     박민우   NC   32   48   42   11   0   10    6    5    7   9  0.306  0.262
     박정준   NC   77  195  167   41   4   24   21   23   44   4  0.303  0.246
     이승호   NC    2    1    0    0   0    0    0    1    0   1      -      -
     마낙길   NC   24   31   29    9   0    5    0    1    5   2  0.375  0.310
     김성욱   NC    4    4    4    1   0    0    1    0    2   0  0.500  0.250
     강구성   NC    2    2    2    0   0    0    0    0    0   0  0.000  0.000
     지석훈   NC  104  356  309   68   3   25   35   30   82   2  0.285  0.220
     김종찬   NC    5    7    7    1   0    0    0    0    3   0  0.250  0.143
     차화준   NC   58  121  106   24   1   18    7   12   29   4  0.295  0.226
     김동건   NC    7   17   16    2   1    1    1    1    7   0  0.125  0.125
     이창섭   NC    5    5    5    0   0    0    0    0    2   0  0.000  0.000
2014 테임즈   NC  125  514  443  152  37   95  121   58   99  11  0.367  0.343
     나성범   NC  123  536  477  157  30   88  101   43  128  14  0.397  0.329
     박민우   NC  118  491  416  124   1   87   40   56   89  50  0.373  0.298
     손시헌   NC   97  361  307   90   5   39   39   34   53   2  0.331  0.293
     지석훈   NC  114  238  212   58   6   26   34   16   46   1  0.323  0.274
     이호준   NC  122  500  424  115  23   59   78   67  104   2  0.305  0.271
     권희동   NC  101  252  221   63   7   39   36   25   43   6  0.324  0.285
     모창민   NC  122  468  419  110  16   62   72   37   82  14  0.289  0.263
     이종욱   NC  124  495  438  126   6   73   79   40   60  15  0.313  0.288
     김준완   NC    6    5    4    2   0    1    0    1    1   1  0.667    0.5
     최재원   NC    2    2    1    0   0    1    0    1    1   0      -      0
     마낙길   NC    2    2    1    0   0    1    0    1    0   0  0.000      0
     조영훈   NC   92  124  111   29   6   15   22   10   26   1  0.288  0.261
     김태우   NC    4    5    5    1   0    0    0    0    3   0  0.500    0.2
     박명환*  NC    2    1    1    0   0    0    0    0    1   0      -      0
     조평호   NC    2    2    2    0   0    0    0    0    0   0  0.000      0
     강민국   NC    6    3    3    0   0    0    0    0    0   0  0.000      0
     허준    NC   28   36   29    5   0    2    1    5   10   0  0.263  0.172
     김성욱   NC   26   26   23    4   1    6    1    3    9   1  0.231  0.174
     노진혁   NC   25   16   16    3   1    3    2    0    7   0  0.250  0.188
2015 테임즈   NC  142  595  472  180  47  130  140  103   91  40   0.39  0.381
     나성범   NC  144  622  564  184  28  112  135   33  127  23  0.374  0.326
     박민우   NC  141  617  520  158   3  111   47   73  108  46  0.373  0.304
     이호준   NC  131  518  449  132  24   48  110   61  102   0  0.332  0.294
     김종호   NC  133  486  424  125   4   90   36   44   65  41  0.338  0.295
     조영훈   NC  103  146  124   35   8   20   35   19   36   3  0.329  0.282
     손시헌   NC  140  508  440  108  13   56   58   36   66   3   0.26  0.245
     이종욱   NC  125  504  440  118   5   63   52   54   78  17  0.315  0.268
     모창민   NC  103  239  214   62   6   23   35   18   52   5  0.352   0.29
     지석훈   NC  137  466  415  111  11   53   46   23   85   4  0.311  0.267
     용덕한   NC   50   49   42   12   0    4    5    5    8   2  0.353  0.286
     최재원   NC  114  102   85   21   2   31   13   10   29  14  0.352  0.247
     박정준   NC   19   24   21    8   0    2    2    0    5   0    0.5  0.381
     김태군   NC  144  474  421  107   6   45   52   25   77   1  0.293  0.254
     조평호   NC   22   22   22    8   1    4    3    0    6   0  0.467  0.364
     이창섭   NC   15    8    5    0   0    0    0    3    3   0      0      0
     김준완   NC   30   54   44   10   0   12    2   10   10   2  0.294  0.227
     강구성   NC    4    5    5    1   0    0    0    0    0   0    0.2    0.2
     강민국   NC    1    2    2    0   0    0    0    0    1   0      0      0
     김태진   NC    1    3    3    0   0    0    0    0    0   0      0      0

             출루율    장타율    OPS   wOBA    WAR
시즌   선수명
2013 모창민   0.339  0.443  0.782  0.353   2.31
     이호준   0.362  0.475  0.837  0.373   1.85
     김종호   0.376  0.333  0.709  0.339   1.55
     나성범   0.319  0.416  0.735  0.329   1.50
     조영훈   0.350  0.413  0.763  0.348   0.83
     이현곤   0.361  0.324  0.685  0.327   0.52
     이상호   0.299  0.320  0.619  0.289   0.16
     강진성   0.667  1.000  1.667  0.671   0.10
     조평호   0.318  0.418  0.736  0.329   0.09
     박민우   0.333  0.286  0.619  0.296   0.07
     박정준   0.335  0.353  0.688  0.320   0.06
     이승호   1.000      -      -  0.712   0.06
     마낙길   0.333  0.345  0.678  0.317  -0.03
     김성욱   0.250  0.250  0.500  0.234  -0.03
     강구성   0.000  0.000  0.000  0.000  -0.06
     지석훈   0.300  0.330  0.630  0.293  -0.09
     김종찬   0.143  0.143  0.286  0.134  -0.11
     차화준   0.306  0.311  0.617  0.289  -0.12
     김동건   0.176  0.313  0.489  0.216  -0.14
     이창섭   0.000  0.000  0.000  0.000  -0.14
2014 테임즈   0.422  0.688   1.11  0.456   6.36
     나성범   0.400  0.597  0.997  0.424   5.94
     박민우   0.392  0.399  0.791  0.365   2.73
     손시헌   0.368  0.414  0.782  0.349   1.52
     지석훈   0.340  0.462  0.802  0.352   0.97
     이호준   0.371  0.481  0.852  0.369   0.88
     권희동   0.363  0.443  0.806  0.353   0.62
     모창민   0.320  0.413  0.733  0.319   0.17
     이종욱   0.343  0.411  0.754  0.332   0.13
     김준완   0.600    0.5    1.1  0.509   0.11
     최재원   0.500      0    0.5  0.363   0.01
     마낙길   0.500      0    0.5  0.363   0.01
     조영훈   0.325  0.459  0.784  0.337  -0.02
     김태우   0.200    0.4    0.6  0.244  -0.03
     박명환*  0.000      0      0  0.000  -0.03
     조평호   0.000      0      0  0.000  -0.07
     강민국   0.000      0      0  0.000  -0.10
     허준    0.294  0.276   0.57  0.268  -0.11
     김성욱   0.269  0.348  0.617  0.272  -0.15
     노진혁   0.188  0.375  0.563  0.231  -0.18
2015 테임즈   0.497   0.79  1.287  0.520  11.73
     나성범   0.373  0.553  0.926  0.390   4.46
     박민우   0.399  0.404  0.803  0.364   3.52
     이호준   0.381   0.51  0.891  0.381   2.19
     김종호   0.364  0.394  0.758  0.340   1.03
     조영훈   0.372   0.54  0.912  0.389   1.00
     손시헌   0.319  0.398  0.717  0.316   0.85
     이종욱   0.351  0.368  0.719  0.322   0.84
     모창민   0.340  0.439  0.779  0.340   0.76
     지석훈   0.328  0.383  0.711  0.317   0.51
     용덕한   0.375   0.31  0.685  0.326   0.44
     최재원   0.366  0.412  0.778  0.350   0.30
     박정준   0.458  0.476  0.934  0.417   0.25
     김태군   0.307  0.354  0.661  0.294   0.25
     조평호   0.364  0.591  0.955  0.401   0.18
     이창섭   0.375      0  0.375  0.286  -0.01
     김준완   0.370  0.227  0.597  0.308  -0.04
     강구성   0.200    0.4    0.6  0.242  -0.04
     강민국   0.000      0      0  0.000  -0.06
     김태진   0.000      0      0  0.000  -0.09

In [8]:
시즌안타.corr()

          2013      2014      2015
2013  1.000000  0.556417  0.502037
2014  0.556417  1.000000  0.933922
2015  0.502037  0.933922  1.000000

In [37]:
# 206페이지에서 계속