## 함수 적용과 매핑

In [26]:
import pandas as pd
from NC import importNC
# from 분석모듈 import 기능1, 기능2 ...

반복되는 코드는 모듈화하는 것이 좋습니다. 
* 모듈이란 파일이름.py 형태를 의미합니다. 
* 모듈은 노트북 파일 .ipynb와 다르게 일반적인 텍스트 파일입니다. 
* 모듈은 import를 활용해 불러올 수 있습니다. 
* 모듈이 수정된 경우, 커널을 재시작하고 import를 다시 수행해야 합니다.

### 파이썬 함수

In [2]:
def 믹서기(재료, 사용자명='윤군'):
    메뉴 = {'사과':10, '딸기':20}
    주스 = 재료 + '주스'
    가격 = 메뉴[재료]
    return 주스, 가격, 사용자명

In [3]:
믹서기('사과')

('사과주스', 10, '윤군')

In [4]:
type(믹서기)

function

In [5]:
a=믹서기('사과')

In [6]:
a

('사과주스', 10, '윤군')

In [7]:
type(a)

tuple

In [8]:
print("이번은 {0}이며, 가격은 {1}, 담당자는 '{2}' 입니다.".format(a[0], a[1], a[2]))

이번은 사과주스이며, 가격은 10, 담당자는 '윤군' 입니다.

_함수는 변수에 저장할 수 있습니다. 함수의 실행 결과가가 아닌 함수 자체를_

__함수를 인자로 받는 함수__

In [9]:
def 뭔가해(어떻게, 인자):
    결과 = 어떻게(인자)
    return 결과

In [10]:
뭔가해(믹서기, '딸기')

('딸기주스', 20, '윤군')

In [11]:
def 빙수기(재료):
    return 재료+'빙수'

In [12]:
뭔가해(빙수기, '수박')

'수박빙수'

#### 익명함수
본문이 한 줄 정도인 경우

In [13]:
def 최대최소값구하기(수치):
    return max(수치)

In [14]:
최대최소값구하기([1, 2, 3, 5])

5

__'lambda 수치: max(수치)'__ 이 부분은 함수를 정의한 부분임.(inline 함수 같은 역할)

In [15]:
뭔가해(lambda 수치: max(수치), [1, 2, 3, 4, 5])

5

In [16]:
날씨=pd.read_excel('./data/weather.xlsx')

In [17]:
날씨.avgTemp.max()

31.399999999999999

In [18]:
날씨.avgTemp.min()

-9.8000000000000007

In [19]:
def 최대최소값차이(시리즈):
    return 시리즈.max() - 시리즈.min()

In [20]:
날씨[['avgTemp', 'highestTemp']].apply(최대최소값차이)

avgTemp        41.2
highestTemp    41.2
dtype: float64

In [25]:
#외부 모듈의 함수를 호출해 NC 프레임 목록을 생성
프레임목록=importNC('./data/')

In [22]:
안타13 = 프레임목록[0]['안타']
안타14 = 프레임목록[1]['안타']
안타15 = 프레임목록[2]['안타']

In [23]:
시즌안타 = pd.concat([안타13, 안타14, 안타15], axis=1)

In [24]:
시즌안타

         안타     안타     안타
강구성     0.0    NaN    1.0
강민국     NaN    0.0    0.0
강진성     1.0    NaN    NaN
권희동     NaN   63.0    NaN
김동건     2.0    NaN    NaN
김성욱     1.0    4.0    NaN
김종찬     1.0    NaN    NaN
김종호   129.0    NaN  125.0
김준완     NaN    2.0   10.0
김태군     NaN    NaN  107.0
김태우     NaN    1.0    NaN
김태진     NaN    NaN    0.0
나성범    98.0  157.0  184.0
노진혁     NaN    3.0    NaN
마낙길     9.0    0.0    NaN
모창민   109.0  110.0   62.0
박명환*    NaN    0.0    NaN
박민우    11.0  124.0  158.0
박정준    41.0    NaN    8.0
손시헌     NaN   90.0  108.0
용덕한     NaN    NaN   12.0
이상호    31.0    NaN    NaN
이승호     0.0    NaN    NaN
이종욱     NaN  126.0  118.0
이창섭     0.0    NaN    0.0
이현곤    38.0    NaN    NaN
이호준   123.0  115.0  132.0
조영훈   107.0   29.0   35.0
조평호    21.0    0.0    8.0
지석훈    68.0   58.0  111.0
차화준    24.0    NaN    NaN
최재원     NaN    0.0   21.0
테임즈     NaN  152.0  180.0
허준      NaN    5.0    NaN