In [1]:
import pandas as pd
import numpy as np

%matplotlib inline

In [2]:
NC15 = pd.read_excel('./data/NC Dinos 2015.xlsx')
NC15

,선수명,팀명,경기,타석,타수,안타,홈런,득점,타점,볼넷,삼진,도루,BABIP,타율,출루율,장타율,OPS,wOBA,WAR
0,테임즈,NC,142,595,472,180,47,130,140,103,91,40,0.390,0.381,0.497,0.790,1.287,0.520,11.73
1,나성범,NC,144,622,564,184,28,112,135,33,127,23,0.374,0.326,0.373,0.553,0.926,0.390,4.46
2,박민우,NC,141,617,520,158,3,111,47,73,108,46,0.373,0.304,0.399,0.404,0.803,0.364,3.52
3,이호준,NC,131,518,449,132,24,48,110,61,102,0,0.332,0.294,0.381,0.510,0.891,0.381,2.19
4,김종호,NC,133,486,424,125,4,90,36,44,65,41,0.338,0.295,0.364,0.394,0.758,0.340,1.03
5,조영훈,NC,103,146,124,35,8,20,35,19,36,3,0.329,0.282,0.372,0.540,0.912,0.389,1.00
6,손시헌,NC,140,508,440,108,13,56,58,36,66,3,0.260,0.245,0.319,0.398,0.717,0.316,0.85
7,이종욱,NC,125,504,440,118,5,63,52,54,78,17,0.315,0.268,0.351,0.368,0.719,0.322,0.84
8,모창민,NC,103,239,214,62,6,23,35,18,52,5,0.352,0.290,0.340,0.439,0.779,0.340,0.76
9,지석훈,NC,137,466,415,111,11,53,46,23,85,4,0.311,0.267,0.328,0.383,0.711,0.317,0.51
10,용덕한,NC,50,49,42,12,0,4,5,5,8,2,0.353,0.286,0.375,0.310,0.685,0.326,0.44
11,최재원,NC,114,102,85,21,2,31,13,10,29,14,0.352,0.247,0.366,0.412,0.778,0.350,0.30
12,박정준,NC,19,24,21,8,0,2,2,0,5,0,0.500,0.381,0.458,0.476,0.934,0.417,0.25
13,김태군,NC,144,474,421,107,6,45,52,25,77,1,0.293,0.254,0.307,0.354,0.661,0.294,0.25
14,조평호,NC,22,22,22,8,1,4,3,0,6,0,0.467,0.364,0.364,0.591,0.955,0.401,0.18
15,이창섭,NC,15,8,5,0,0,0,0,3,3,0,0.000,0.000,0.375,0.000,0.375,0.286,-0.01
16,김준완,NC,30,54,44,10,0,12,2,10,10,2,0.294,0.227,0.370,0.227,0.597,0.308,-0.04
17,강구성,NC,4,5,5,1,0,0,0,0,0,0,0.200,0.200,0.200,0.400,0.600,0.242,-0.04
18,강민국,NC,1,2,2,0,0,0,0,0,1,0,0.000,0.000,0.000,0.000,0.000,0.000,-0.06
19,김태진,NC,1,3,3,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0.000,0.000,-0.09

In [4]:
선수명=NC15['선수명']
선수명[:5]

0    테임즈
1    나성범
2    박민우
3    이호준
4    김종호
Name: 선수명, dtype: object

색인을 하나 선택해도 역시 시리즈입니다. 즉, 시리즈는 열이나 행을 선택하는 것과 관계없이 1차원의 일련의 값을 표현합니다.

In [5]:
NC15.ix[0]

선수명        테임즈
팀명          NC
경기         142
타석         595
타수         472
안타         180
홈런          47
득점         130
타점         140
볼넷         103
삼진          91
도루          40
BABIP     0.39
타율       0.381
출루율      0.497
장타율       0.79
OPS      1.287
wOBA      0.52
WAR      11.73
Name: 0, dtype: object

In [6]:
첫행=NC15.ix[0]

In [7]:
type(첫행)

pandas.core.series.Series

In [8]:
%who

NC15	 np	 pd	 선수명	 첫행

범위선택

In [10]:
선수명[5:12]

5     조영훈
6     손시헌
7     이종욱
8     모창민
9     지석훈
10    용덕한
11    최재원
Name: 선수명, dtype: object

선수명을 색인으로 설정하고, 안타 기록 추출
 - 이렇게 하지 않으면 누가 얼마의 안타를 쳤는지 알 수 없음

In [13]:
안타=NC15.set_index('선수명')['안타']
안타

선수명
테임즈    180
나성범    184
박민우    158
이호준    132
김종호    125
조영훈     35
손시헌    108
이종욱    118
모창민     62
지석훈    111
용덕한     12
최재원     21
박정준      8
김태군    107
조평호      8
이창섭      0
김준완     10
강구성      1
강민국      0
김태진      0
Name: 안타, dtype: int64

In [16]:
NC15

,선수명,팀명,경기,타석,타수,안타,홈런,득점,타점,볼넷,삼진,도루,BABIP,타율,출루율,장타율,OPS,wOBA,WAR
0,테임즈,NC,142,595,472,180,47,130,140,103,91,40,0.390,0.381,0.497,0.790,1.287,0.520,11.73
1,나성범,NC,144,622,564,184,28,112,135,33,127,23,0.374,0.326,0.373,0.553,0.926,0.390,4.46
2,박민우,NC,141,617,520,158,3,111,47,73,108,46,0.373,0.304,0.399,0.404,0.803,0.364,3.52
3,이호준,NC,131,518,449,132,24,48,110,61,102,0,0.332,0.294,0.381,0.510,0.891,0.381,2.19
4,김종호,NC,133,486,424,125,4,90,36,44,65,41,0.338,0.295,0.364,0.394,0.758,0.340,1.03
5,조영훈,NC,103,146,124,35,8,20,35,19,36,3,0.329,0.282,0.372,0.540,0.912,0.389,1.00
6,손시헌,NC,140,508,440,108,13,56,58,36,66,3,0.260,0.245,0.319,0.398,0.717,0.316,0.85
7,이종욱,NC,125,504,440,118,5,63,52,54,78,17,0.315,0.268,0.351,0.368,0.719,0.322,0.84
8,모창민,NC,103,239,214,62,6,23,35,18,52,5,0.352,0.290,0.340,0.439,0.779,0.340,0.76
9,지석훈,NC,137,466,415,111,11,53,46,23,85,4,0.311,0.267,0.328,0.383,0.711,0.317,0.51
10,용덕한,NC,50,49,42,12,0,4,5,5,8,2,0.353,0.286,0.375,0.310,0.685,0.326,0.44
11,최재원,NC,114,102,85,21,2,31,13,10,29,14,0.352,0.247,0.366,0.412,0.778,0.350,0.30
12,박정준,NC,19,24,21,8,0,2,2,0,5,0,0.500,0.381,0.458,0.476,0.934,0.417,0.25
13,김태군,NC,144,474,421,107,6,45,52,25,77,1,0.293,0.254,0.307,0.354,0.661,0.294,0.25
14,조평호,NC,22,22,22,8,1,4,3,0,6,0,0.467,0.364,0.364,0.591,0.955,0.401,0.18
15,이창섭,NC,15,8,5,0,0,0,0,3,3,0,0.000,0.000,0.375,0.000,0.375,0.286,-0.01
16,김준완,NC,30,54,44,10,0,12,2,10,10,2,0.294,0.227,0.370,0.227,0.597,0.308,-0.04
17,강구성,NC,4,5,5,1,0,0,0,0,0,0,0.200,0.200,0.200,0.400,0.600,0.242,-0.04
18,강민국,NC,1,2,2,0,0,0,0,0,1,0,0.000,0.000,0.000,0.000,0.000,0.000,-0.06
19,김태진,NC,1,3,3,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0.000,0.000,-0.09

In [15]:
%who

NC15	 np	 pd	 선수명	 안타	 첫행

#### 연습
1. 조영훈 ... 최재원 선수의 기록을 선택
2. 색인을 다시 설정하기 위해서는 __.reset_index()__를 사용
3. 범위 선택은 색인에 대해 수행됩니다.

In [19]:
NC15선수=NC15.set_index('선수명')['조영훈':'최재원']

In [18]:
%who

NC15	 np	 pd	 선수명	 안타	 첫행

In [32]:
NC15선수=NC15.set_index('선수명')

In [33]:
NC15선수.ix[['테임즈', '나성범'], ['타석', '안타', '홈런']]

      타석   안타  홈런
선수명
테임즈  595  180  47
나성범  622  184  28

.ix[:, 열조건] (모든 색인 범위를 선택. 즉, 열선택)

In [34]:
NC15선수.ix[:, ['안타', '홈런']]

      안타  홈런
선수명
테임즈  180  47
나성범  184  28
박민우  158   3
이호준  132  24
김종호  125   4
조영훈   35   8
손시헌  108  13
이종욱  118   5
모창민   62   6
지석훈  111  11
용덕한   12   0
최재원   21   2
박정준    8   0
김태군  107   6
조평호    8   1
이창섭    0   0
김준완   10   0
강구성    1   0
강민국    0   0
김태진    0   0

In [35]:
NC15선수[['안타', '홈런']]

      안타  홈런
선수명
테임즈  180  47
나성범  184  28
박민우  158   3
이호준  132  24
김종호  125   4
조영훈   35   8
손시헌  108  13
이종욱  118   5
모창민   62   6
지석훈  111  11
용덕한   12   0
최재원   21   2
박정준    8   0
김태군  107   6
조평호    8   1
이창섭    0   0
김준완   10   0
강구성    1   0
강민국    0   0
김태진    0   0

열 범위 선택 시, 색인 범위 선택과 분법적인 모호함이 발생합니다.
따라서, 좀더 명확하게 명시해 주기 위해 __.ix[:, 열범위]__ 를 사용합니다.

In [36]:
 NC15선수.ix[:, '타석':'삼진']

      타석   타수   안타  홈런   득점   타점   볼넷   삼진
선수명
테임즈  595  472  180  47  130  140  103   91
나성범  622  564  184  28  112  135   33  127
박민우  617  520  158   3  111   47   73  108
이호준  518  449  132  24   48  110   61  102
김종호  486  424  125   4   90   36   44   65
조영훈  146  124   35   8   20   35   19   36
손시헌  508  440  108  13   56   58   36   66
이종욱  504  440  118   5   63   52   54   78
모창민  239  214   62   6   23   35   18   52
지석훈  466  415  111  11   53   46   23   85
용덕한   49   42   12   0    4    5    5    8
최재원  102   85   21   2   31   13   10   29
박정준   24   21    8   0    2    2    0    5
김태군  474  421  107   6   45   52   25   77
조평호   22   22    8   1    4    3    0    6
이창섭    8    5    0   0    0    0    3    3
김준완   54   44   10   0   12    2   10   10
강구성    5    5    1   0    0    0    0    0
강민국    2    2    0   0    0    0    0    1
김태진    3    3    0   0    0    0    0    0

#### 연습
홈런을 5개 이상 친 선수들의 기록을 골라서 홈런개수가 많은 순으로 3명의 선수를 선택

In [47]:
NC15선수.ix[NC15선수.홈런 >= 5, '타석':'도루'].sort_values(by='홈런', ascending=False)[:3]

      타석   타수   안타  홈런   득점   타점   볼넷   삼진  도루
선수명
테임즈  595  472  180  47  130  140  103   91  40
나성범  622  564  184  28  112  135   33  127  23
이호준  518  449  132  24   48  110   61  102   0