In [1]:
import pandas as pd
from NC import importNC

In [2]:
프레임목록=importNC('./data/')

In [4]:
안타13=프레임목록[0]['안타']
안타14=프레임목록[1]['안타']
안타15=프레임목록[2]['안타']

In [5]:
NC15=프레임목록[2]

In [7]:
NC15.sort_index(ascending=False)
# 색인에 대해서만 실행됨

,팀명,경기,타석,타수,안타,홈런,득점,타점,볼넷,삼진,도루,BABIP,타율,출루율,장타율,OPS,wOBA,WAR,시즌
선수명,,,,,,,,,,,,,,,,,,,
테임즈,NC,142,595,472,180,47,130,140,103,91,40,0.390,0.381,0.497,0.790,1.287,0.520,11.73,2015
최재원,NC,114,102,85,21,2,31,13,10,29,14,0.352,0.247,0.366,0.412,0.778,0.350,0.30,2015
지석훈,NC,137,466,415,111,11,53,46,23,85,4,0.311,0.267,0.328,0.383,0.711,0.317,0.51,2015
조평호,NC,22,22,22,8,1,4,3,0,6,0,0.467,0.364,0.364,0.591,0.955,0.401,0.18,2015
조영훈,NC,103,146,124,35,8,20,35,19,36,3,0.329,0.282,0.372,0.540,0.912,0.389,1.00,2015
이호준,NC,131,518,449,132,24,48,110,61,102,0,0.332,0.294,0.381,0.510,0.891,0.381,2.19,2015
이창섭,NC,15,8,5,0,0,0,0,3,3,0,0.000,0.000,0.375,0.000,0.375,0.286,-0.01,2015
이종욱,NC,125,504,440,118,5,63,52,54,78,17,0.315,0.268,0.351,0.368,0.719,0.322,0.84,2015
용덕한,NC,50,49,42,12,0,4,5,5,8,2,0.353,0.286,0.375,0.310,0.685,0.326,0.44,2015
손시헌,NC,140,508,440,108,13,56,58,36,66,3,0.260,0.245,0.319,0.398,0.717,0.316,0.85,2015
박정준,NC,19,24,21,8,0,2,2,0,5,0,0.500,0.381,0.458,0.476,0.934,0.417,0.25,2015
박민우,NC,141,617,520,158,3,111,47,73,108,46,0.373,0.304,0.399,0.404,0.803,0.364,3.52,2015
모창민,NC,103,239,214,62,6,23,35,18,52,5,0.352,0.290,0.340,0.439,0.779,0.340,0.76,2015
나성범,NC,144,622,564,184,28,112,135,33,127,23,0.374,0.326,0.373,0.553,0.926,0.390,4.46,2015
김태진,NC,1,3,3,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0.000,0.000,-0.09,2015
김태군,NC,144,474,421,107,6,45,52,25,77,1,0.293,0.254,0.307,0.354,0.661,0.294,0.25,2015
김준완,NC,30,54,44,10,0,12,2,10,10,2,0.294,0.227,0.370,0.227,0.597,0.308,-0.04,2015
김종호,NC,133,486,424,125,4,90,36,44,65,41,0.338,0.295,0.364,0.394,0.758,0.340,1.03,2015
강민국,NC,1,2,2,0,0,0,0,0,1,0,0.000,0.000,0.000,0.000,0.000,0.000,-0.06,2015
강구성,NC,4,5,5,1,0,0,0,0,0,0,0.200,0.200,0.200,0.400,0.600,0.242,-0.04,2015

열 제목을 정렬하기

In [10]:
NC15.sort_index(axis=1, ascending=False)
# 열제목을 정렬함

,홈런,팀명,타점,타율,타수,타석,출루율,장타율,안타,시즌,삼진,볼넷,득점,도루,경기,wOBA,WAR,OPS,BABIP
선수명,,,,,,,,,,,,,,,,,,,
테임즈,47,NC,140,0.381,472,595,0.497,0.790,180,2015,91,103,130,40,142,0.520,11.73,1.287,0.390
나성범,28,NC,135,0.326,564,622,0.373,0.553,184,2015,127,33,112,23,144,0.390,4.46,0.926,0.374
박민우,3,NC,47,0.304,520,617,0.399,0.404,158,2015,108,73,111,46,141,0.364,3.52,0.803,0.373
이호준,24,NC,110,0.294,449,518,0.381,0.510,132,2015,102,61,48,0,131,0.381,2.19,0.891,0.332
김종호,4,NC,36,0.295,424,486,0.364,0.394,125,2015,65,44,90,41,133,0.340,1.03,0.758,0.338
조영훈,8,NC,35,0.282,124,146,0.372,0.540,35,2015,36,19,20,3,103,0.389,1.00,0.912,0.329
손시헌,13,NC,58,0.245,440,508,0.319,0.398,108,2015,66,36,56,3,140,0.316,0.85,0.717,0.260
이종욱,5,NC,52,0.268,440,504,0.351,0.368,118,2015,78,54,63,17,125,0.322,0.84,0.719,0.315
모창민,6,NC,35,0.290,214,239,0.340,0.439,62,2015,52,18,23,5,103,0.340,0.76,0.779,0.352
지석훈,11,NC,46,0.267,415,466,0.328,0.383,111,2015,85,23,53,4,137,0.317,0.51,0.711,0.311
용덕한,0,NC,5,0.286,42,49,0.375,0.310,12,2015,8,5,4,2,50,0.326,0.44,0.685,0.353
최재원,2,NC,13,0.247,85,102,0.366,0.412,21,2015,29,10,31,14,114,0.350,0.30,0.778,0.352
박정준,0,NC,2,0.381,21,24,0.458,0.476,8,2015,5,0,2,0,19,0.417,0.25,0.934,0.500
김태군,6,NC,52,0.254,421,474,0.307,0.354,107,2015,77,25,45,1,144,0.294,0.25,0.661,0.293
조평호,1,NC,3,0.364,22,22,0.364,0.591,8,2015,6,0,4,0,22,0.401,0.18,0.955,0.467
이창섭,0,NC,0,0.000,5,8,0.375,0.000,0,2015,3,3,0,0,15,0.286,-0.01,0.375,0.000
김준완,0,NC,2,0.227,44,54,0.370,0.227,10,2015,10,10,12,2,30,0.308,-0.04,0.597,0.294
강구성,0,NC,0,0.200,5,5,0.200,0.400,1,2015,0,0,0,0,4,0.242,-0.04,0.600,0.200
강민국,0,NC,0,0.000,2,2,0.000,0.000,0,2015,1,0,0,0,1,0.000,-0.06,0.000,0.000
김태진,0,NC,0,0.000,3,3,0.000,0.000,0,2015,0,0,0,0,1,0.000,-0.09,0.000,0.000

특정 열 값에 따라 정렬하기

In [12]:
NC15.sort_values(by='홈런', ascending=False)

,팀명,경기,타석,타수,안타,홈런,득점,타점,볼넷,삼진,도루,BABIP,타율,출루율,장타율,OPS,wOBA,WAR,시즌
선수명,,,,,,,,,,,,,,,,,,,
테임즈,NC,142,595,472,180,47,130,140,103,91,40,0.390,0.381,0.497,0.790,1.287,0.520,11.73,2015
나성범,NC,144,622,564,184,28,112,135,33,127,23,0.374,0.326,0.373,0.553,0.926,0.390,4.46,2015
이호준,NC,131,518,449,132,24,48,110,61,102,0,0.332,0.294,0.381,0.510,0.891,0.381,2.19,2015
손시헌,NC,140,508,440,108,13,56,58,36,66,3,0.260,0.245,0.319,0.398,0.717,0.316,0.85,2015
지석훈,NC,137,466,415,111,11,53,46,23,85,4,0.311,0.267,0.328,0.383,0.711,0.317,0.51,2015
조영훈,NC,103,146,124,35,8,20,35,19,36,3,0.329,0.282,0.372,0.540,0.912,0.389,1.00,2015
모창민,NC,103,239,214,62,6,23,35,18,52,5,0.352,0.290,0.340,0.439,0.779,0.340,0.76,2015
김태군,NC,144,474,421,107,6,45,52,25,77,1,0.293,0.254,0.307,0.354,0.661,0.294,0.25,2015
이종욱,NC,125,504,440,118,5,63,52,54,78,17,0.315,0.268,0.351,0.368,0.719,0.322,0.84,2015
김종호,NC,133,486,424,125,4,90,36,44,65,41,0.338,0.295,0.364,0.394,0.758,0.340,1.03,2015
박민우,NC,141,617,520,158,3,111,47,73,108,46,0.373,0.304,0.399,0.404,0.803,0.364,3.52,2015
최재원,NC,114,102,85,21,2,31,13,10,29,14,0.352,0.247,0.366,0.412,0.778,0.350,0.30,2015
조평호,NC,22,22,22,8,1,4,3,0,6,0,0.467,0.364,0.364,0.591,0.955,0.401,0.18,2015
김준완,NC,30,54,44,10,0,12,2,10,10,2,0.294,0.227,0.370,0.227,0.597,0.308,-0.04,2015
강민국,NC,1,2,2,0,0,0,0,0,1,0,0.000,0.000,0.000,0.000,0.000,0.000,-0.06,2015
강구성,NC,4,5,5,1,0,0,0,0,0,0,0.200,0.200,0.200,0.400,0.600,0.242,-0.04,2015
용덕한,NC,50,49,42,12,0,4,5,5,8,2,0.353,0.286,0.375,0.310,0.685,0.326,0.44,2015
이창섭,NC,15,8,5,0,0,0,0,3,3,0,0.000,0.000,0.375,0.000,0.375,0.286,-0.01,2015
박정준,NC,19,24,21,8,0,2,2,0,5,0,0.500,0.381,0.458,0.476,0.934,0.417,0.25,2015
김태진,NC,1,3,3,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0.000,0.000,-0.09,2015

In [16]:
NC15.sort_values(by='홈런')[:10:-1]
# 기본 정렬 결과를 뒤집어서 내림차순으로 만들 수도 있습니다. (10개만 출력)

,팀명,경기,타석,타수,안타,홈런,득점,타점,볼넷,삼진,도루,BABIP,타율,출루율,장타율,OPS,wOBA,WAR,시즌
선수명,,,,,,,,,,,,,,,,,,,
테임즈,NC,142,595,472,180,47,130,140,103,91,40,0.390,0.381,0.497,0.790,1.287,0.520,11.73,2015
나성범,NC,144,622,564,184,28,112,135,33,127,23,0.374,0.326,0.373,0.553,0.926,0.390,4.46,2015
이호준,NC,131,518,449,132,24,48,110,61,102,0,0.332,0.294,0.381,0.510,0.891,0.381,2.19,2015
손시헌,NC,140,508,440,108,13,56,58,36,66,3,0.260,0.245,0.319,0.398,0.717,0.316,0.85,2015
지석훈,NC,137,466,415,111,11,53,46,23,85,4,0.311,0.267,0.328,0.383,0.711,0.317,0.51,2015
조영훈,NC,103,146,124,35,8,20,35,19,36,3,0.329,0.282,0.372,0.540,0.912,0.389,1.00,2015
김태군,NC,144,474,421,107,6,45,52,25,77,1,0.293,0.254,0.307,0.354,0.661,0.294,0.25,2015
모창민,NC,103,239,214,62,6,23,35,18,52,5,0.352,0.290,0.340,0.439,0.779,0.340,0.76,2015
이종욱,NC,125,504,440,118,5,63,52,54,78,17,0.315,0.268,0.351,0.368,0.719,0.322,0.84,2015

### 순위
순위는 기본적으로 작은 값이 높은 순위를 갖습니다.

In [26]:
홈런순위 = NC15['홈런'].rank(ascending=False, method='min').sort_values()
홈런순위.map(int)
# 만약 DataFrame 이었다면 apply(), applymap() 함수를 사용하야 함.

선수명
테임즈     1
나성범     2
이호준     3
손시헌     4
지석훈     5
조영훈     6
모창민     7
김태군     7
이종욱     9
김종호    10
박민우    11
최재원    12
조평호    13
강민국    14
용덕한    14
박정준    14
이창섭    14
김준완    14
강구성    14
김태진    14
Name: 홈런, dtype: int64

동점 처리 방식 설정
'__method=방식이름__' : min, max, avg 등

### 기술통계

In [28]:
안타13.name=2013
안타14.name=2014
안타15.name=2015

시즌안타=pd.concat([안타13, 안타14, 안타15], axis=1)
시즌안타

       2013   2014   2015
강구성     0.0    NaN    1.0
강민국     NaN    0.0    0.0
강진성     1.0    NaN    NaN
권희동     NaN   63.0    NaN
김동건     2.0    NaN    NaN
김성욱     1.0    4.0    NaN
김종찬     1.0    NaN    NaN
김종호   129.0    NaN  125.0
김준완     NaN    2.0   10.0
김태군     NaN    NaN  107.0
김태우     NaN    1.0    NaN
김태진     NaN    NaN    0.0
나성범    98.0  157.0  184.0
노진혁     NaN    3.0    NaN
마낙길     9.0    0.0    NaN
모창민   109.0  110.0   62.0
박명환*    NaN    0.0    NaN
박민우    11.0  124.0  158.0
박정준    41.0    NaN    8.0
손시헌     NaN   90.0  108.0
용덕한     NaN    NaN   12.0
이상호    31.0    NaN    NaN
이승호     0.0    NaN    NaN
이종욱     NaN  126.0  118.0
이창섭     0.0    NaN    0.0
이현곤    38.0    NaN    NaN
이호준   123.0  115.0  132.0
조영훈   107.0   29.0   35.0
조평호    21.0    0.0    8.0
지석훈    68.0   58.0  111.0
차화준    24.0    NaN    NaN
최재원     NaN    0.0   21.0
테임즈     NaN  152.0  180.0
허준      NaN    5.0    NaN

In [29]:
시즌안타.sum()

2013     814.0
2014    1039.0
2015    1380.0
dtype: float64

선수별 시즌합계
** axis = 1 을 추가하여 행단위로 계산할 수 있도록

In [33]:
시즌안타.sum(axis=1)

강구성       1.0
강민국       0.0
강진성       1.0
권희동      63.0
김동건       2.0
김성욱       5.0
김종찬       1.0
김종호     254.0
김준완      12.0
김태군     107.0
김태우       1.0
김태진       0.0
나성범     439.0
노진혁       3.0
마낙길       9.0
모창민     281.0
박명환*      0.0
박민우     293.0
박정준      49.0
손시헌     198.0
용덕한      12.0
이상호      31.0
이승호       0.0
이종욱     244.0
이창섭       0.0
이현곤      38.0
이호준     370.0
조영훈     171.0
조평호      29.0
지석훈     237.0
차화준      24.0
최재원      21.0
테임즈     332.0
허준        5.0
dtype: float64

시즌별 안타 평균

In [34]:
시즌안타.mean()

2013    40.70
2014    51.95
2015    69.00
dtype: float64

In [39]:
시즌안타.mean(axis=1).apply(int)
# 선수별 시즌 안타

강구성       0
강민국       0
강진성       1
권희동      63
김동건       2
김성욱       2
김종찬       1
김종호     127
김준완       6
김태군     107
김태우       1
김태진       0
나성범     146
노진혁       3
마낙길       4
모창민      93
박명환*      0
박민우      97
박정준      24
손시헌      99
용덕한      12
이상호      31
이승호       0
이종욱     122
이창섭       0
이현곤      38
이호준     123
조영훈      57
조평호       9
지석훈      79
차화준      24
최재원      10
테임즈     166
허준        5
dtype: int64

#### 연습
NC 다이노스 2013-2015 시즌에서 다음을 수행
1. 시즌별 홈런 평균
2. 선수별 홈런 평균
3. 시즌별 홈런 평균 이상 홈런을 기록한 선수들의 기록을 홈런 개수 기준 상위 5명 출력

In [40]:
홈런13=프레임목록[0]['홈런']
홈런14=프레임목록[1]['홈런']
홈런15=프레임목록[2]['홈런']
홈런13.name = 2013
홈런14.name = 2014
홈런15.name = 2015

시즌홈런 = pd.concat([홈런13, 홈런14, 홈런15], axis=1)

In [47]:
시즌평균홈런 = 시즌홈런.mean()
시즌평균홈런

2013    3.15
2014    6.95
2015    7.90
dtype: float64

In [45]:
시즌홈런.mean(axis=1)

강구성      0.000000
강민국      0.000000
강진성      0.000000
권희동      7.000000
김동건      1.000000
김성욱      0.500000
김종찬      0.000000
김종호      2.000000
김준완      0.000000
김태군      6.000000
김태우      0.000000
김태진      0.000000
나성범     24.000000
노진혁      1.000000
마낙길      0.000000
모창민     11.333333
박명환*     0.000000
박민우      1.333333
박정준      2.000000
손시헌      9.000000
용덕한      0.000000
이상호      0.000000
이승호      0.000000
이종욱      5.500000
이창섭      0.000000
이현곤      0.000000
이호준     22.333333
조영훈      6.666667
조평호      1.000000
지석훈      6.666667
차화준      1.000000
최재원      1.000000
테임즈     42.000000
허준       0.000000
dtype: float64

In [48]:
시즌홈런[:3]

     2013  2014  2015
강구성   0.0   NaN   0.0
강민국   NaN   0.0   0.0
강진성   0.0   NaN   NaN

In [60]:
평균이상홈런=시즌홈런[시즌홈런>=시즌평균홈런]

In [69]:
평균이상홈런=평균이상홈런.dropna(thresh=1)
# 한 번 이상이라도 평균 이상 홈런을 친 선수들의 기록

In [75]:
홈런합계=평균이상홈런.sum(axis=1).sort_values(ascending=False)
# .rank(ascending=False, method='min')

In [76]:
평균이상홈런.ix[홈런합계.index][:5]

     2013  2014  2015
테임즈   NaN  37.0  47.0
나성범  14.0  30.0  28.0
이호준  20.0  23.0  24.0
모창민  12.0  16.0   NaN
조영훈   6.0   NaN   8.0

In [78]:
홈런합계.index

Index(['테임즈', '나성범', '이호준', '모창민', '조영훈', '손시헌', '지석훈', '권희동', '박정준'], dtype='object')

### 여러가지 통계정보 보기

In [79]:
시즌홈런.describe()

            2013       2014       2015
count  20.000000  20.000000  20.000000
mean    3.150000   6.950000   7.900000
std     5.659412  10.937502  12.143441
min     0.000000   0.000000   0.000000
25%     0.000000   0.000000   0.000000
50%     0.000000   1.000000   3.500000
75%     3.250000   6.250000   8.750000
max    20.000000  37.000000  47.000000

In [89]:
from pandas_datareader import data, wb
import datetime
start = datetime.datetime(2010, 1, 1)
end = datetime.datetime(2013, 1, 27)
f = web.DataReader("F", 'google', start, end)
f.ix['2010-01-04']

Open            10.17
High            10.28
Low             10.05
Close           10.28
Volume    60855796.00
Name: 2010-01-04 00:00:00, dtype: float64

In [92]:
f[:3]

             Open   High    Low  Close     Volume
Date
2010-01-04  10.17  10.28  10.05  10.28   60855796
2010-01-05  10.45  11.24  10.40  10.96  215620138
2010-01-06  11.21  11.46  11.13  11.37  200070554