In [1]:
import pandas as pd
from NC import importNC, findComLine
from os.path import join

from text_io import read_text

In [4]:
데이터경로='./data/'

In [4]:
%pwd()

'/Users/Koon/Documents/bigpy'

In [9]:
pd.read_csv(join(데이터경로, 'geeks.csv'))
# pd.read_csv('geeks_메모장.txt', encoding='cp949') - 윈도우 메모장에서 대충 만들면 이렇게 해야 함.
# pd.read_csv(join(데이터경로, 'geeks.csv'), sep='\t', encoding='utf-8') <- 구분자, 인코딩 지정 가능

       이름                  직업     국적            트위터         생년월일
0     이성주   컴퓨터 프로그래머/데이터 과학자   대한민국   @LeeSeongjoo   1982-12-27
1  Rossum           컴퓨터 프로그래머   네덜란드    @gvanrossum   1956-01-31
2  Turing              컴퓨터과학자     영국            NaN   1912-06-23

한글 윈도우 메모장 앱에서 작성된 파일은 다음과 같이 인코딩을 지정해야 합니다.
* "인코딩을 자동으로 알아내는 방법이 있나요?" 아니오. 없습니다.

In [10]:
geeks=pd.read_csv(join(데이터경로, 'geeks.csv'), encoding='utf-8')

In [12]:
geeks[' 직업']

0     컴퓨터 프로그래머/데이터 과학자
1             컴퓨터 프로그래머
2                컴퓨터과학자
Name:  직업, dtype: object

In [14]:
geeks=pd.read_csv(join(데이터경로, 'geeks.csv'), 
                  skipinitialspace=True, 
                  encoding='utf-8')

구분자 앞뒤로 종종 공백이 삽입될 수 있습니다. 이런 경우 열제목을 조회할 때 발견하기 어려운 문제가 있을 수 있습니다. 다음의 설정으로 열제목의 공백을 제거하고 읽어올 수 있습니다.

pandas.read_csv(....., skipinitialspace=True, ....)

In [15]:
geeks['직업']

0    컴퓨터 프로그래머/데이터 과학자
1            컴퓨터 프로그래머
2               컴퓨터과학자
Name: 직업, dtype: object

In [16]:
geeks.columns

Index(['이름', '직업', '국적', '트위터', '생년월일'], dtype='object')

In [17]:
for 제목 in geeks.columns:
    print(제목)

이름
직업
국적
트위터
생년월일

In [22]:
제목='ㅂ ㅁㅁㅁㅁㅁㅁ ㅋㅋ '
제목.strip()

'ㅂ ㅁㅁㅁㅁㅁㅁ ㅋㅋ'

In [5]:
geeks = read_text(join(데이터경로,'geeks.csv'))
geeks.columns

Index(['이름', '직업', '국적', '트위터', '생년월일'], dtype='object')

In [16]:
geeks = pd.read_csv(join(데이터경로,'geeks.csv'),
                 #names=['이름', '직업', '국적', '트위터', '생년월일'],
                   index_col='이름')

In [17]:
geeks

                        직업     국적            트위터         생년월일
이름
이성주      컴퓨터 프로그래머/데이터 과학자   대한민국   @LeeSeongjoo   1982-12-27
Rossum           컴퓨터 프로그래머   네덜란드    @gvanrossum   1956-01-31
Turing              컴퓨터과학자     영국            NaN   1912-06-23

In [19]:
%cat ./data/geeks.csv

이름, 직업, 국적, 트위터, 생년월일
이성주, 컴퓨터 프로그래머/데이터 과학자, 대한민국, @LeeSeongjoo, 1982-12-27
Rossum, 컴퓨터 프로그래머, 네덜란드, @gvanrossum, 1956-01-31
Turing, 컴퓨터과학자, 영국,, 1912-06-23

### 텍스트 파일

#### 누락된 자료나 이상한 문자

In [26]:
프레임=pd.read_csv('./누락된데이터.txt', encoding='utf-8', na_values=['-'])
# 특정한 문자를 NaN 으로 처리한다.
# pandas.read_csv(...., na_values=[....])

In [25]:
프레임

   something      a  b  c    d message
0          0    one  1  2  3.0       4
1          1    two  5  6  NaN   world
2          2  three  1  2  3.0     NaN

In [28]:
이름=pd.read_excel('./이름.xlsx')

In [29]:
이름[:5]

          이름 성별   출생수    연도        비율
0       Mary  F  7065  1880  0.077643
1       Anna  F  2604  1880  0.028618
2       Emma  F  2003  1880  0.022013
3  Elizabeth  F  1939  1880  0.021309
4     Minnie  F  1746  1880  0.019188

In [30]:
이름.to_csv('이름.csv', encoding='utf-8')

In [45]:
pd.read_csv('./이름.csv', encoding='utf-8', nrows=5)
# 5줄만 읽어옴
# 만일 처음 몇줄을 제외하고 시작하려면 skip_rows 옵션을...

   Unnamed: 0         이름 성별   출생수    연도        비율
0           0       Mary  F  7065  1880  0.077643
1           1       Anna  F  2604  1880  0.028618
2           2       Emma  F  2003  1880  0.022013
3           3  Elizabeth  F  1939  1880  0.021309
4           4     Minnie  F  1746  1880  0.019188

In [49]:
조각=pd.read_csv('./이름.csv', chunksize=1000)

In [50]:
for 프레임 in 조각:
    # 1000줄 이하로 구성된 프레임
    print(프레임.iloc[0])

Unnamed: 0            0
이름                 Mary
성별                    F
출생수                7065
연도                 1880
비율            0.0776433
Name: 0, dtype: object
Unnamed: 0          1000
이름               Charley
성별                     M
출생수                  305
연도                  1880
비율            0.00276036
Name: 0, dtype: object
Unnamed: 0         2000
이름                 Mary
성별                    F
출생수                6919
연도                 1881
비율            0.0752433
Name: 0, dtype: object
Unnamed: 0          3000
이름               Francis
성별                     M
출생수                  259
연도                  1881
비율            0.00257077
Name: 0, dtype: object
Unnamed: 0          4000
이름                 Della
성별                     F
출생수                  447
연도                  1882
비율            0.00414461
Name: 0, dtype: object
Unnamed: 0          5000
이름                 Elmer
성별                     M
출생수                  441
연도                  1882
비율            0.00387907
Name: 0, dtype: object
Unnamed: 0           6000
이름                 Marian
성별                      M
출생수                     5
연도                   1882
비율            4.39804e-05
Name: 0, dtype: object
Unnamed: 0           7000
이름                 Bettye
성별                      F
출생수                     5
연도                   1883
비율            4.45149e-05
Name: 0, dtype: object
Unnamed: 0           8000
이름                   Whit
성별                      M
출생수                     6
연도                   1883
비율            5.73438e-05
Name: 0, dtype: object
Unnamed: 0           9000
이름                  Ammie
성별                      F
출생수                     7
연도                   1884
비율            5.42547e-05
Name: 0, dtype: object
Unnamed: 0          10000
이름                Lindsey
성별                      M
출생수                     9
연도                   1884
비율            7.86404e-05
Name: 0, dtype: object
Unnamed: 0          11000
이름              Anastasia
성별                      F
출생수                    15
연도                   1885
비율            0.000112734
Name: 0, dtype: object
Unnamed: 0         12000
이름                  Loyd
성별                     M
출생수                   24
연도                  1885
비율            0.00022263
Name: 0, dtype: object
Unnamed: 0          13000
이름                 Lessie
성별                      F
출생수                    63
연도                   1886
비율            0.000435872
Name: 0, dtype: object
Unnamed: 0         14000
이름               Theckla
성별                     F
출생수                    5
연도                  1886
비율            3.4593e-05
Name: 0, dtype: object
Unnamed: 0          15000
이름                 Boston
성별                      M
출생수                     5
연도                   1886
비율            4.51325e-05
Name: 0, dtype: object
Unnamed: 0          16000
이름                  Carra
성별                      F
출생수                     8
연도                   1887
비율            5.48009e-05
Name: 0, dtype: object
Unnamed: 0          17000
이름                Johnson
성별                      M
출생수                    11
연도                   1887
비율            0.000108468
Name: 0, dtype: object
Unnamed: 0          18000
이름                Natalie
성별                      F
출생수                    26
연도                   1888
비율            0.000145551
Name: 0, dtype: object
Unnamed: 0         19000
이름              Benjamin
성별                     M
출생수                  781
연도                  1888
비율            0.00646218
Name: 0, dtype: object
Unnamed: 0          20000
이름                Waverly
성별                      M
출생수                     6
연도                   1888
비율            4.96454e-05
Name: 0, dtype: object
Unnamed: 0          21000
이름                 Biddie
성별                      F
출생수                    10
연도                   1889
비율            5.60636e-05
Name: 0, dtype: object
Unnamed: 0          22000
이름                  Abram
성별                      M
출생수                    23
연도                   1889
비율            0.000207975
Name: 0, dtype: object
Unnamed: 0         23000
이름               Claudia
성별                     F
출생수                   95
연도                  1890
비율            0.00049901
Name: 0, dtype: object
Unnamed: 0          24000
이름                 Ermine
성별                      F
출생수                     6
연도                   1890
비율            3.15164e-05
Name: 0, dtype: object
Unnamed: 0          25000
이름                 Rafael
성별                      M
출생수                     9
연도                   1890
비율            8.10621e-05
Name: 0, dtype: object
Unnamed: 0          26000
이름                  Frank
성별                      F
출생수                    22
연도                   1891
비율            0.000118607
Name: 0, dtype: object
Unnamed: 0         27000
이름               Raymond
성별                     M
출생수                  575
연도                  1891
비율            0.00568193
Name: 0, dtype: object
Unnamed: 0          28000
이름                 Hilton
성별                      M
출생수                     5
연도                   1891
비율            4.94081e-05
Name: 0, dtype: object
Unnamed: 0          29000
이름                   Thea
성별                      F
출생수                    12
연도                   1892
비율            5.65105e-05
Name: 0, dtype: object
Unnamed: 0          30000
이름                   Ivan
성별                      M
출생수                    54
연도                   1892
비율            0.000442485
Name: 0, dtype: object
Unnamed: 0          31000
이름                  Titus
성별                      M
출생수                     5
연도                   1892
비율            4.09708e-05
Name: 0, dtype: object
Unnamed: 0          32000
이름                Garnett
성별                      F
출생수                    10
연도                   1893
비율            4.69686e-05
Name: 0, dtype: object
Unnamed: 0         33000
이름              Adolphus
성별                     M
출생수                   28
연도                  1893
비율            0.00024929
Name: 0, dtype: object
Unnamed: 0        34000
이름              Barbara
성별                    F
출생수                 290
연도                 1894
비율            0.0013009
Name: 0, dtype: object
Unnamed: 0          35000
이름               Clarence
성별                      F
출생수                     8
연도                   1894
비율            3.58868e-05
Name: 0, dtype: object
Unnamed: 0          36000
이름                   Jean
성별                      M
출생수                    19
연도                   1894
비율            0.000164111
Name: 0, dtype: object
Unnamed: 0          37000
이름                  Adele
성별                      F
출생수                   166
연도                   1895
비율            0.000710519
Name: 0, dtype: object
Unnamed: 0          38000
이름                Beatriz
성별                      F
출생수                     8
연도                   1895
비율            3.42419e-05
Name: 0, dtype: object
Unnamed: 0          39000
이름               Herschel
성별                      M
출생수                    23
연도                   1895
비율            0.000195915
Name: 0, dtype: object
Unnamed: 0         40000
이름             Christine
성별                     F
출생수                  274
연도                  1896
비율            0.00115163
Name: 0, dtype: object
Unnamed: 0          41000
이름               Genoveva
성별                      F
출생수                     9
연도                   1896
비율            3.78272e-05
Name: 0, dtype: object
Unnamed: 0          42000
이름                   Troy
성별                      M
출생수                    32
연도                   1896
비율            0.000267614
Name: 0, dtype: object
Unnamed: 0         43000
이름                Willie
성별                     F
출생수                  818
연도                  1897
비율            0.00349276
Name: 0, dtype: object
Unnamed: 0          44000
이름                Laurena
성별                      F
출생수                    10
연도                   1897
비율            4.26987e-05
Name: 0, dtype: object
Unnamed: 0          45000
이름                 Wilson
성별                      M
출생수                    44
연도                   1897
비율            0.000390209
Name: 0, dtype: object
Unnamed: 0         46000
이름                Louise
성별                     F
출생수                 1693
연도                  1898
비율            0.00654246
Name: 0, dtype: object
Unnamed: 0         47000
이름               Roxanna
성별                     F
출생수                   12
연도                  1898
비율            4.6373e-05
Name: 0, dtype: object
Unnamed: 0         48000
이름              Clifford
성별                     M
출생수                  317
연도                  1898
비율            0.00258347
Name: 0, dtype: object
Unnamed: 0          49000
이름                 Kelley
성별                      M
출생수                     6
연도                   1898
비율            4.88986e-05
Name: 0, dtype: object
Unnamed: 0          50000
이름                 Leslie
성별                      F
출생수                    18
연도                   1899
비율            7.72459e-05
Name: 0, dtype: object
Unnamed: 0          51000
이름               Olivette
성별                      F
출생수                     5
연도                   1899
비율            2.14572e-05
Name: 0, dtype: object
Unnamed: 0          52000
이름                 Armond
성별                      M
출생수                     6
연도                   1899
비율            5.64876e-05
Name: 0, dtype: object
Unnamed: 0          53000
이름                  Henry
성별                      F
출생수                    25
연도                   1900
비율            8.33686e-05
Name: 0, dtype: object
Unnamed: 0          54000
이름                Armanda
성별                      F
출생수                     6
연도                   1900
비율            2.00085e-05
Name: 0, dtype: object
Unnamed: 0          55000
이름                   Phil
성별                      M
출생수                    22
연도                   1900
비율            0.000146127
Name: 0, dtype: object
Unnamed: 0        56000
이름                Helen
성별                    F
출생수                5247
연도                 1901
비율            0.0219218
Name: 0, dtype: object
Unnamed: 0          57000
이름                 Trudie
성별                      F
출생수                    12
연도                   1901
비율            5.01356e-05
Name: 0, dtype: object
Unnamed: 0         58000
이름                   Ray
성별                     M
출생수                  338
연도                  1901
비율            0.00317436
Name: 0, dtype: object
Unnamed: 0          59000
이름                   Alec
성별                      M
출생수                     5
연도                   1901
비율            4.69581e-05
Name: 0, dtype: object
Unnamed: 0          60000
이름                 Alline
성별                      F
출생수                    17
연도                   1902
비율            6.43747e-05
Name: 0, dtype: object
Unnamed: 0          61000
이름                   Cuma
성별                      F
출생수                     5
연도                   1902
비율            1.89337e-05
Name: 0, dtype: object
Unnamed: 0          62000
이름                   Dana
성별                      M
출생수                     9
연도                   1902
비율            7.33736e-05
Name: 0, dtype: object
Unnamed: 0          63000
이름                   Tina
성별                      F
출생수                    44
연도                   1903
비율            0.000167954
Name: 0, dtype: object
Unnamed: 0        64000
이름              Eufemia
성별                    F
출생수                   7
연도                 1903
비율            2.672e-05
Name: 0, dtype: object
Unnamed: 0          65000
이름                    Ike
성별                      M
출생수                    24
연도                   1903
비율            0.000201275
Name: 0, dtype: object
Unnamed: 0         66000
이름                 Hilda
성별                     F
출생수                  629
연도                  1904
비율            0.00228416
Name: 0, dtype: object
Unnamed: 0          67000
이름                 Birtie
성별                      F
출생수                    11
연도                   1904
비율            3.99455e-05
Name: 0, dtype: object
Unnamed: 0          68000
이름                 Oneita
성별                      F
출생수                     5
연도                   1904
비율            1.81571e-05
Name: 0, dtype: object
Unnamed: 0          69000
이름                    Loy
성별                      M
출생수                     8
연도                   1904
비율            6.24371e-05
Name: 0, dtype: object
Unnamed: 0          70000
이름              Francisca
성별                      F
출생수                    41
연도                   1905
비율            0.000140584
Name: 0, dtype: object
Unnamed: 0         71000
이름                Wynona
성별                     F
출생수                    8
연도                  1905
비율            2.7431e-05
Name: 0, dtype: object
Unnamed: 0          72000
이름                   Neal
성별                      M
출생수                    45
연도                   1905
비율            0.000340087
Name: 0, dtype: object
Unnamed: 0          73000
이름                 Fisher
성별                      M
출생수                     5
연도                   1905
비율            3.77875e-05
Name: 0, dtype: object
Unnamed: 0          74000
이름                 Eudora
성별                      F
출생수                    18
연도                   1906
비율            6.09548e-05
Name: 0, dtype: object
Unnamed: 0          75000
이름                  Nanny
성별                      F
출생수                     6
연도                   1906
비율            2.03183e-05
Name: 0, dtype: object
Unnamed: 0          76000
이름                  Issac
성별                      M
출생수                    14
연도                   1906
비율            0.000105137
Name: 0, dtype: object
Unnamed: 0          77000
이름                  Josie
성별                      F
출생수                   191
연도                   1907
비율            0.000599577
Name: 0, dtype: object
Unnamed: 0          78000
이름                   Joye
성별                      F
출생수                    11
연도                   1907
비율            3.45306e-05
Name: 0, dtype: object
Unnamed: 0          79000
이름                    Loy
성별                      F
출생수                     5
연도                   1907
비율            1.56957e-05
Name: 0, dtype: object
Unnamed: 0          80000
이름                   Opal
성별                      M
출생수                    11
연도                   1907
비율            7.49125e-05
Name: 0, dtype: object
Unnamed: 0          81000
이름             Wilhelmina
성별                      F
출생수                   140
연도                   1908
비율            0.000418814
Name: 0, dtype: object
Unnamed: 0          82000
이름                 Idamae
성별                      F
출생수                    11
연도                   1908
비율            3.29068e-05
Name: 0, dtype: object
Unnamed: 0          83000
이름                 Loreen
성별                      F
출생수                     5
연도                   1908
비율            1.49577e-05
Name: 0, dtype: object
Unnamed: 0          84000
이름                Pearlie
성별                      M
출생수                    11
연도                   1908
비율            7.12717e-05
Name: 0, dtype: object
Unnamed: 0          85000
이름                 Arlene
성별                      F
출생수                   160
연도                   1909
비율            0.000460841
Name: 0, dtype: object
Unnamed: 0          86000
이름              Valentine
성별                      F
출생수                    12
연도                   1909
비율            3.45631e-05
Name: 0, dtype: object
Unnamed: 0          87000
이름                  Dagny
성별                      F
출생수                     5
연도                   1909
비율            1.44013e-05
Name: 0, dtype: object
Unnamed: 0          88000
이름                 Howell
성별                      M
출생수                    15
연도                   1909
비율            9.14729e-05
Name: 0, dtype: object
Unnamed: 0         89000
이름               Eleanor
성별                     F
출생수                 1795
연도                  1910
비율            0.00452807
Name: 0, dtype: object
Unnamed: 0          90000
이름                 Pollie
성별                      F
출생수                    18
연도                   1910
비율            4.54068e-05
Name: 0, dtype: object
Unnamed: 0          91000
이름                   Mark
성별                      F
출생수                     7
연도                   1910
비율            1.76582e-05
Name: 0, dtype: object
Unnamed: 0          92000
이름                   Jeff
성별                      M
출생수                    83
연도                   1910
비율            0.000427399
Name: 0, dtype: object
Unnamed: 0          93000
이름                 Linnie
성별                      M
출생수                     8
연도                   1910
비율            4.11951e-05
Name: 0, dtype: object
Unnamed: 0         94000
이름                  Mina
성별                     F
출생수                   91
연도                  1911
비율            0.00021761
Name: 0, dtype: object
Unnamed: 0          95000
이름                  Onnie
성별                      F
출생수                    12
연도                   1911
비율            2.86958e-05
Name: 0, dtype: object
Unnamed: 0          96000
이름                Simonne
성별                      F
출생수                     6
연도                   1911
비율            1.43479e-05
Name: 0, dtype: object
Unnamed: 0          97000
이름                 Rupert
성별                      M
출생수                    30
연도                   1911
비율            0.000132781
Name: 0, dtype: object
Unnamed: 0          98000
이름                   Budd
성별                      M
출생수                     6
연도                   1911
비율            2.65562e-05
Name: 0, dtype: object
Unnamed: 0          99000
이름                Delphia
성별                      F
출생수                    74
연도                   1912
비율            0.000132631
Name: 0, dtype: object
Unnamed: 0      100000
이름               Elnor
성별                   F
출생수                 13
연도                1912
비율            2.33e-05
Name: 0, dtype: object
Unnamed: 0         101000
이름                Norvell
성별                      F
출생수                     7
연도                   1912
비율            1.25462e-05
Name: 0, dtype: object
Unnamed: 0        102000
이름                Oliver
성별                     M
출생수                  645
연도                  1912
비율            0.00150026
Name: 0, dtype: object
Unnamed: 0         103000
이름                Ignazio
성별                      M
출생수                    18
연도                   1912
비율            4.18677e-05
Name: 0, dtype: object
Unnamed: 0         104000
이름                Fayette
성별                      M
출생수                     7
연도                   1912
비율            1.62819e-05
Name: 0, dtype: object
Unnamed: 0         105000
이름                   Nell
성별                      F
출생수                   491
연도                   1913
비율            0.000786459
Name: 0, dtype: object
Unnamed: 0         106000
이름              Maryellen
성별                      F
출생수                    22
연도                   1913
비율            3.52385e-05
Name: 0, dtype: object
Unnamed: 0         107000
이름               Estefana
성별                      F
출생수                     9
연도                   1913
비율            1.44158e-05
Name: 0, dtype: object
Unnamed: 0         108000
이름                 Amelie
성별                      F
출생수                     5
연도                   1913
비율            8.00875e-06
Name: 0, dtype: object
Unnamed: 0         109000
이름               Roderick
성별                      M
출생수                    74
연도                   1913
비율            0.000144395
Name: 0, dtype: object
Unnamed: 0         110000
이름                   Blas
성별                      M
출생수                    13
연도                   1913
비율            2.53667e-05
Name: 0, dtype: object
Unnamed: 0         111000
이름                   Alvy
성별                      M
출생수                     6
연도                   1913
비율            1.17077e-05
Name: 0, dtype: object
Unnamed: 0         112000
이름                   Leah
성별                      F
출생수                   457
연도                   1914
비율            0.000600229

In [57]:
pd.read_csv('./주석.txt', encoding='utf-8', skiprows=[0, 6])
# 0번하고 6번 Row를 제외

    이름 QR출결
0  국상진    Y
1  김병찬    Y
2   윤군    Y
3  김현중    N
4  박주연    N
5  이진행    N

In [70]:
def 주석줄찾기(파일명, 시작패턴, encoding='utf-8'):
    주석줄번호목록 = []
    #텍스트 파일 열기
    파일=open(파일명, encoding=encoding)
    for 줄번호, 줄 in enumerate(파일):
        #현재 줄이 시작패턴에 부합하는지 확인
        if 줄.startswith(시작패턴):
            주석줄번호목록.append(줄번호)
    return 주석줄번호목록

In [2]:
findComLine('./주석.txt', '#', encoding='utf-8')

[0, 6]

In [4]:
pd.read_csv('./주석.txt', encoding='utf-8', skiprows=findComLine('./주석.txt', '#', encoding='utf-8'))

    이름 QR출결
0  국상진    Y
1  김병찬    Y
2   윤군    Y
3  김현중    N
4  박주연    N
5  이진행    N